@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-pallete-white: #EFEFEF;
    --color-pallete-orange: #F66B0E;
    --color-pallete-lightblue: #205375;
    --color-pallete-darkblue: #112B3C;

    --font-akaya: Akaya Kanadaka, "sans-serif"
}
